**/*.md
**/*.svg
**/*.ejs
**/*.html
**/*.sql
**/*.json

www_svr/local_modules

package.json
client/.umi
client/.umi-production
**/*.svg
/dist
.dockerignore
.DS_Store
.eslintignore
*.png
*.toml
docker
.editorconfig
Dockerfile*
.gitignore
.prettierignore
LICENSE
.eslintcache
*.lock
yarn-error.log
.history
CNAME
